@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oleo+Script:wght@400;700&family=Pacifico&family=Science+Gothic:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oleo+Script:wght@400;700&family=Pacifico&family=Permanent+Marker&family=Science+Gothic:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chela+One&family=Newsreader:ital,opsz,wght@0,6..72,200..800;1,6..72,200..800&family=Oleo+Script:wght@400;700&family=PT+Serif+Caption:ital@0;1&family=Pacifico&family=Permanent+Marker&family=Science+Gothic:wght@100..900&family=Trade+Winds&display=swap');
* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
}

/*encabezado*/
.encabezado {
    width: 100%;
    height: 225px;
    background: url(img/vanner.jpg) no-repeat;
    background-size: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#logo {
    padding-top: 15px;
    height: 350px;
    filter: drop-shadow(15px 20px 8px rgb(121, 121, 163));
}

#logoT {
    font-family: "Oleo Script", system-ui;
    font-size: 100px;
    color: rgb(199, 191, 207);
    text-shadow: 8px 8px 15px rgb(0, 94, 255)
}

.indice li {
    font-family: "Permanent Marker", cursive;
    list-style: none;
    font-size: 30px;
    margin-top: 10px;
    background: rgb(179, 181, 172);
    border-radius: 35px;
    padding: 0px 15px;
    opacity: 0.5;
    color: rgb(191, 192, 189);
}

.indice li:hover {
    opacity: 1;
}

/*seccion de inicio*/
.inicio {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: justify;
}

.introduccion {
    width: 70%;
}

.descripcion {
    font-family: "Noto Sans", sans-serif;
    line-height: 1.5;
    font-size: 24px;
    text-align: center;
}

.img {
    margin-top: 15px;
    height: 440px;
    display: flex;
    justify-content: center;
/*siguenos en nuestras redes*/
}
footer{
    width: 100%;
    height: 150px;
    background-color: rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
footer img{
    width: 80px;
}
footer p{
    color: rgb(0, 228, 228);
    font-size: 30px;
    margin-top: 10px;
}
#centerf{
    display: flex;
    gap: 30px;
}
/*tarjetas de recetas*/
.superior{
    display: flex;
    flex-direction: row;
}
.card{
    position: relative;
    width: 300px;
    height: 350px;
    margin: 20px;
}
.card .face{
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 15px;
    overflow: hidden;
    transition: 0.5s;
}
.card .front{
    transform: perspective(600px) rotatey(0deg);
    box-shadow: 0 20px 50px rgba(152, 103, 199, 0.8);
}
.card .front img{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.card .front h3{
    position: absolute;
    bottom: 0%;
    width: 100%;
    height: 45px;
    line-height: 50px;
    color: rgb(155, 157, 160);
    background: rgba(0, 0, 0, 0.6);
    text-align: center;
}
.card .back{
    transform: perspective(600px) rotatey(180deg);
    background: #025e59;
    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.8);
    padding: 20px;
    color: azure;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    font-family: "Chela One", system-ui;
}
.card .back h3{
    font-size: 50px;
    margin-top: 30px;
    letter-spacing: 3px;
}
.card:hover .front{
    transform: perspective(600px) rotatey(180deg);
}
.card:hover .back{
    transform: perspective(600px) rotatey(360deg);
}

/*links internos*/
.titulo {
    font-family: "Permanent Marker", cursive;
    text-align: center;
    font-weight: 400;
    display: flex;
    justify-content: center;
    font-size: 60px;
    padding: 20px 0;
}
.ingredientes{
    justify-content: center;
    display: flex;
    font-size: 25px;
    font-family:"Permanent Marker", cursive;
} 
.instrucciones{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.instrucciones li{
    font-family: "Noto Sans", sans-serif;
    font-size: 20px;
    margin: 10px 0;
    line-height: 1.5;
    text-align: center;
}
.pasotes{
    line-height: 1.5;
    text-align: center;
    font-family: "Permanent Marker", cursive;
    font-size: 25px;
}
.pasos{
    font-family: "Noto Sans", sans-serif;
    font-size: 20px;
    margin: 10px 0;
    line-height: 1.5;
    text-align: center;
}
.imagen {
    margin-top: 20px;
    width: 300px;
    height: 200px;
    object-fit: cover;
    border-radius: 15px;
}